Week 12 - Generative Models/data/MNIST/raw/t10k-images-idx3-ubyte
Week 12 - Generative Models/data/MNIST/raw/t10k-images-idx3-ubyte.gz
Week 12 - Generative Models/data/MNIST/raw/t10k-labels-idx1-ubyte
Week 12 - Generative Models/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Week 12 - Generative Models/data/MNIST/raw/train-images-idx3-ubyte
Week 12 - Generative Models/data/MNIST/raw/train-images-idx3-ubyte.gz
Week 12 - Generative Models/data/MNIST/raw/train-labels-idx1-ubyte
Week 12 - Generative Models/data/MNIST/raw/train-labels-idx1-ubyte.g
tf_env/
